html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Baloo Paaji', cursive;*/
    monospace;
}

#app-slogan {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 10.4px;
  font-weight: 900;
  z-index: 999;
  padding: 2px 0.5px 0 0.5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: #282c34;
  margin: 0;
  color: #083863;
  background-color: #F4B844;
}

#app-header {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 25px;
  font-weight: 900;
  z-index: 999;
  font-family: 'Baloo Paaji', cursive;
  text-transform: uppercase;
  text-shadow: #282c34;
  margin: 0;
  color: #083863;
}

.leaflet-popup-content-wrapper {
  height:453px;
  width: 364px;
  padding: 10px;
}

#ig_inner_panel {
  max-height:275px;
  max-width: 175px;
}

#header_logo {
  height: 175px;
  width: auto;
}

/* **** START Info Panel **** */

#focus_info {
  /*width: 50%;*/
  height: 100vh;
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
}

#inner_info_panel {
  max-width: 474px;
  min-width: 474px;
  text-transform: uppercase;
  padding: 45px 30px;
  /*margin: 40px 35px;*/
  background-color: whitesmoke;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 154px -39px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 154px -39px rgba(0,0,0,1);
  box-shadow: 0px 0px 154px -39px rgba(0,0,0,1);
  overflow: scroll;
  max-height: 625px;
  margin: auto 0px auto 40px;
  font-size: 13px;
}

#inner_info_panel h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.panel_hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.05s, opacity 0.05s linear;
}

.panel_show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.22s, opacity 0.22s linear;
  transition-delay: 0s;
}

#inner_info_panel h1, h2, h3, h4, h5, h6 {
  text-align: left !important;
  margin-bottom:5px;
  font-family: 'Roboto', sans-serif;
}

.location_name {
  font-family: 'Baloo Paaji', cursive;

}

.location_name span {
  color: #083863;
  /*background-color: #F4B844;*/
  padding: 3px 4px 0 4px;
  /*width: 100%;*/
  margin: auto;
  text-align: center;
}


#inner_info_panel #location_img {
  width: 100%;
  float: left;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  /*max-height: 425px;*/
}

.panel_img_div {
  /*max-height: 325px;*/
  /*min-height: 125px;*/
  max-width: 350px;
  min-width: 300px;
  height: 250px;
  margin: 0 auto 10px auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/

  overflow:hidden;
  /*margin: auto;*/
  /*width: 100%;*/

}

.panel_content_div {
  margin-left: 26px;
  margin-right: 26px;
}

.panel_header {
  background-color: #00ACEA;
  width: auto;
  text-align: center !important;
}

.ratings_img_div {
  margin-bottom: 20px;

}

.panel_section {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.panel_section h6 {
  text-align: center !important;
}

.rating_img {
  width: 165px;
  height: auto;
  margin-left: 6px;
  margin-bottom: 5px;
}

#panel_icon {
  color: #00ACEA;
  font-size: 18px;
}

.pane_info_hr {
  width: 92%;
  margin: 10px auto;
}

#yelp_btn {
  width: 49%;
  background-color: #F4B844;
  color: #083863;
  text-space: 10px !important;
  margin-top: 20px;
  margin-right: 0.5%;
  font-weight: 400;
  font-family: 'Baloo Paaji', cursive;
  text-transform: uppercase;
}

#maps_btn {
  width: 49%;
  background-color: #00ACEA;
  margin-top: 20px;
  margin-left: 0.5%;
  color: white;
  font-weight: 400;
  font-family: 'Baloo Paaji', cursive;
  text-transform: uppercase;
}

/*#maps_btn a {*/
  /*color: #F4B844;*/
  /*font-weight: 400;*/
  /*font-family: 'Baloo Paaji', cursive;*/
  /*text-transform: uppercase;*/
/*}*/



/* **** END Info Panel **** */


.leaflet-container .leaflet-control-attribution {
  background: transparent !important;
}


/* Start Loader */
#loader {
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  z-index: 999999;
  background-color: #282c34;
  opacity: 0.5;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background: red;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
  background: #00EFD1;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
  background: #F4B844;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
  background: #00ACEA;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
  background: #00EFD1;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
  background: #F4B844;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
  background: #00ACEA;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
  background: #00EFD1;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
  background: #F4B844;

}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Loader */